extends layout

block content
  h1 Today's Daily Geometry
  img(src='http://24.media.tumblr.com/d4ccd197d6cfbd0cb92f5b3b5b7ae923/tumblr_mqrmxpQa1p1r9nwnbo1_500.jpg')
  Daily Geo is by @tilman | This app is by @readywater