extends layout

block content
  h1 Daily Geometry
  img.primary(src='http://31.media.tumblr.com/c2c905f0756ca4cfbad273ab7df4aad3/tumblr_mqfpsbjXua1r9nwnbo1_500.jpg', width='384px')
  p DailyGeo by @tilman | app by @readywater